﻿<!DOCTYPE html>
<html lang="en" ng-app="SelectSigningDocumentManagement" ng-controller="parentController">
<head>
    <meta charset="utf-8">
    <title>DocArmor</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/assets/bootstrap-3.1.1-dist/css/bootstrap.min.css" rel="stylesheet" media="screen" />
    <link href="/assets/bootswatch.min.css" rel="stylesheet" media="screen">
    <link href="/assets/app.css" rel="stylesheet" media="screen">
    <link href="/assets/toastr.css" rel="stylesheet" media="screen">
    <link href="/assets/blockUi.css" rel="stylesheet" media="screen">
    <link href="/assets/loading-bar.css" rel="stylesheet" media="screen">

</head>
<body>

    <script src="/assets/le.min.js"></script>

    <div class="navbar navbar-default navbar-fixed-top" style="background-color: #DDDDDD; height: 60px;">
        <div class="container">
            <div class="navbar-header">
                <a href="../" class="navbar-brand"><img style="width:140px" src="assets/DocArmor.png" /></a>
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse" id="navbar-main">
                <ul class="nav navbar-nav">
                    <li ng-model="menu" ng-repeat="items in menu">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:">{{items.display}}<span class="caret"></span></a>
                        <ul class="dropdown-menu" aria-labelledby="themes" ng-model="items" ng-repeat="item in items.features">
                            <li>
                                <a ng-href="#{{item.route}}">{{item.display}}</a>
                            </li>
                        </ul>
                    </li>
                </ul>

                <ul class="nav navbar-nav navbar-right" ng-show="user">
                    <li><a>Welcome, {{user.name}}</a></li>
                    <li><a ng-click="logout()">Logout</a></li>
                </ul>

            </div>
        </div>
    </div>

    <div style="height: 80px;"></div>
    <div class="container">

        <div ng-view></div>

        <div style="height: 70px;"></div>

        <!--<footer>
            <div class="row">
                <div class="col-lg-12">

                    <ul class="list-unstyled">
                        <li><a href="http://news.bootswatch.com" onclick=" pageTracker._link(this.href); return false; ">Blog</a></li>
                        <li><a href="http://feeds.feedburner.com/bootswatch">RSS</a></li>
                        <li><a href="https://twitter.com/thomashpark">Twitter</a></li>
                        <li><a href="https://github.com/thomaspark/bootswatch/">GitHub</a></li>
                        <li><a href="../help/#api">API</a></li>
                        <li><a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&amp;hosted_button_id=F22JEM3Q78JC2">Donate</a></li>
                    </ul>
                    <p>Made by <a href="http://thomaspark.me" rel="nofollow">Thomas Park</a>. Contact him at <a href="mailto:thomas@bootswatch.com">thomas@bootswatch.com</a>.</p>
                    <p>Code released under the <a href="https://github.com/thomaspark/bootswatch/blob/gh-pages/LICENSE">MIT License</a>.</p>
                    <p>Based on <a href="http://getbootstrap.com" rel="nofollow">Bootstrap</a>. Icons from <a href="http://fortawesome.github.io/Font-Awesome/" rel="nofollow">Font Awesome</a>. Web fonts from <a href="http://www.google.com/webfonts" rel="nofollow">Google</a>.</p>

                </div>
            </div>
        </footer>-->
    </div>

    <script src="/assets/jquery-1.10.2.min.js"> </script>
    <script src="/assets/bootstrap-3.1.1-dist/js/bootstrap.min.js"> </script>
    <script src="/assets/angular.min.js"> </script>
    <script src="/assets/angular-route.js"> </script>
    <script src="/assets/fileServer.js"></script>
    <link href="assets/bootstrap-multiselect/bootstrap-multiselect.css" rel="stylesheet" />
    <script src="assets/bootstrap-multiselect/bootstrap-multiselect.js"></script>


    <script src="/app/app.js"> </script>
    <!--controllers-->
    <script src="/app/controllers/loginController.js"> </script>
    <script src="/app/controllers/forgotPasswordController.js"> </script>
    <script src="/app/controllers/resetPasswordController.js"> </script>
    <script src="/app/controllers/registrationController.js"> </script>
    <script src="/app/controllers/homeController.js"> </script>
    <script src="/app/controllers/parentController.js"> </script>
    <script src="app/controllers/profileController.js"></script>
    <script src="app/controllers/fileController.js"></script>

    <!--services-->
    <script src="/app/services/httpq.js"> </script>
    <script src="/app/services/loginService.js"> </script>
    <script src="/app/services/userService.js"> </script>
    <script src="/app/services/accountService.js"> </script>
    <script src="/app/services/facebookService.js"></script>
    <script src="/app/services/googleService.js"></script>
    <script src="/app/services/homeService.js"></script>
    <script src="app/services/adminService.js"></script>
    <script src="app/services/menuService.js"></script>
    <script src="app/services/userAbilitiesService.js"></script>

    <!--directives-->
    <script src="app/directives/multiselect-dropdown.js"></script>
    <script src="app/directives/ng-file-upload-shim.min.js"></script>
    <script src="app/directives/ng-file-upload.min.js"></script>
    <script src="app/directives/loading-bar.js"></script>
    <script src="app/directives/ngClip.js"></script>
    <script src="app/directives/ZeroClipboard.js"></script>
    <script src="app/directives/angular-animate.js"></script>
    <script src="app/directives/toastr.js"></script>
    <script src="app/directives/blockUi.js"></script>
    <script src="app/directives/masks/angular-input-masks-standalone.min.js"></script>

    <script src="https://apis.google.com/js/client.js?onload=handleClientLoad"></script>

    <script type="text/javascript">

        window.onerror = function (msg, url, line) {
            LE.error({ message: msg, url: url, line: line });
            var suppressErrorAlert = true;
            return suppressErrorAlert;
        };
        function myPop() {
            this.square = null;
            this.overdiv = null;

            this.popOut = function (msgtxt) {
                //filter:alpha(opacity=25);-moz-opacity:.25;opacity:.25;
                this.overdiv = document.createElement("div");
                this.overdiv.className = "overdiv";

                this.square = document.createElement("div");
                this.square.className = "square";
                this.square.Code = this;
                var msg = document.createElement("div");
                msg.className = "msg";
                msg.innerHTML = msgtxt;
                this.square.appendChild(msg);
                var closebtn = document.createElement("button");
                closebtn.onclick = function () {
                    this.parentNode.Code.popIn();
                }
                closebtn.innerHTML = "Close";
                this.square.appendChild(closebtn);

                document.body.appendChild(this.overdiv);
                document.body.appendChild(this.square);
            }
            this.popIn = function () {
                if (this.square != null) {
                    document.body.removeChild(this.square);
                    this.square = null;
                }
                if (this.overdiv != null) {
                    document.body.removeChild(this.overdiv);
                    this.overdiv = null;
                }

            }
        }
    </script>

</body>
</html>