﻿<div id="header" style="  background-color: #f7f9fa;">
    <div class="color-line">
    </div>
    <a href="/#landingPage">
        <div id="logo" class="light-version">
            <span>
                Escrow
            </span>
        </div>
    </a>
</div>

<!-- Main Wrapper -->
<div id="wrapper" style="position: fixed; width: 100%; height: 10%; overflow: auto; margin: 0">

    <div class="normalheader" style="padding: 10px 10px 0 10px">
        <div class="hpanel">
            <div class="panel-body">
                <h2 class="font-light m-b-xs">
                    Client Module
                </h2>
            </div>
        </div>
    </div>
    <nav class="navbar navbar-default" style="margin: 0 10px 0 10px">
        <div class="container" style="  margin-left: 0; padding-left: 0;">
            <div class="navbar-header">
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-left">
                        <li><a class="page-scroll" href="/#/escrow">Client List</a></li>
                        <li class="active"><a class="page-scroll" page-scroll href="/#/escrowNewClient">New Client</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <div class="hpanel" style="margin: 0 20px 0 20px;">
        <div class="panel-heading">
            Contact Information
        </div>
        <div class="panel-body" style="border-radius: 15px">
            <div style="text-align: left; margin-left: 0" class="col-sm-8 col-sm-offset-2">
                <button class="btn btn-primary" ng-click="saveClient()">Save</button>
                <button class="btn btn-danger" ng-click="clearClient()">Clear</button>
            </div>
            <form method="get" class="form-horizontal">
                <table style="width: 100%">
                    <tr>
                        <th style="width: 45%">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Client ID</label>
                                <div class="col-sm-8">
                                    <input disabled type="text" class="form-control" ng-model="clientId">
                                </div>
                            </div>
                        </th>
                        <th style="width: 45%">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Office</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" maxlength="14" ng-model="office" ui-us-phone-number tabindex="5">
                                </div>
                            </div>
                        </th>
                        <th style="width: 10%">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Ext</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" ng-model="ext" ui-number-mask="0" ui-hide-group-sep tabindex="6">
                                </div>
                            </div>
                        </th>
                    </tr>
                    <tr>
                        <th>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">First Name</label>
                                <div class="col-sm-8">
                                    <input id="firstName" type="text" class="form-control" ng-model="firstName" tabindex="1">
                                </div>
                            </div>
                        </th>
                        <th>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Direct Line</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" maxlength="14" ng-model="directLine" ui-us-phone-number tabindex="7">
                                </div>
                            </div>
                        </th>
                    </tr>
                    <tr>
                        <th>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Last Name</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" ng-model="lastName" tabindex="2">
                                </div>
                            </div>
                        </th>
                        <th>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Mobile</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" maxlength="14" ng-model="mobile" ui-us-phone-number tabindex="8">
                                </div>
                            </div>
                        </th>
                    </tr>
                    <tr>
                        <th>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Title</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" ng-model="clientTitle" tabindex="3">
                                </div>
                            </div>
                        </th>
                        <th>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Email</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" ng-model="email" tabindex="9">
                                </div>
                            </div>
                        </th>
                    </tr>
                    <tr>
                        <th>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Service Agreement</label>
                                <div class="custim-col-sm-8">
                                    <input disabled ng-model="fileName1" style="display: inline-block" type="text" class="custom-form-control">
                                </div>
                                <input id=fileinput1 type=file ngf-select="" ng-model="fileData1"
                                       style="visibility: hidden; position: absolute; top: 0; left: 0"
                                       accept="application/msword, application/vnd.ms-excel, text/plain, application/pdf, image/*">
                                <button style="display: inline-block" class="btn btn-primary" tabindex="4" ng-click="addServiceAgreement()">Choose File</button>
                            </div>
                        </th>
                        <th>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Online Password</label>
                                <div class="col-sm-8">
                                    <input type="{{inputType}}" placeholder="Put your online password" class="form-control" ng-model="onlinePassword" tabindex="10">
                                    <input type="checkbox" id="checkbox" ng-model="passwordCheckbox" ng-click="hideShowPassword()" />
                                    <label for="checkbox" ng-if="passwordCheckbox">Hide password</label>
                                    <label for="checkbox" ng-if="!passwordCheckbox">Show password</label>
                                </div>
                            </div>
                        </th>
                    </tr>
                </table>
            </form>
        </div>
    </div>
    <div class="hpanel" style="margin: 0 20px 100px 20px;">
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" ng-click="tog=1">Address</a></li>
            <li class=""><a data-toggle="tab" ng-click="tog=2">Pricing</a></li>
            <li class=""><a data-toggle="tab" ng-click="tog=3">Special Instructions</a></li>
            <li class=""><a data-toggle="tab" ng-click="tog=4">Order History</a></li>
            <li class=""><a data-toggle="tab" ng-click="tog=5">Add Assistances</a></li>
            <li class=""><a data-toggle="tab" ng-click="tog=6">Add Loan Officer</a></li>
        </ul>
        <div class="tab-content">
            <div id="tab-1" class="tab-pane active" ng-class='{"active":tog==1}'>
                <div class="panel-body">
                    <table style="width: 100%">
                        <tr>
                            <th style="width: 50%;vertical-align: top; padding-right: 20px">
                                <div class="hpanel">
                                    <div class="panel-heading">
                                        Brand Address
                                    </div>
                                    <div class="panel-body" style="border-top: 1px solid #e4e5e7;">
                                        <form method="get" class="form-horizontal">
                                            <div class="form-group">
                                                <label class="col-sm-2 control-label">Company</label>
                                                <div class="col-sm-10">
                                                    <input type="text" class="form-control" ng-model="companybranch" tabindex="11">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-2 control-label">Street</label>
                                                <div class="col-sm-10">
                                                    <input type="text" class="form-control" ng-model="streetbranch" tabindex="12">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-2 control-label">City</label>
                                                <div class="col-sm-10">
                                                    <input type="text" class="form-control" ng-model="citybranch" tabindex="13">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-2 control-label">State</label>
                                                <div class="col-sm-10">
                                                    <select class="js-source-states" style="width: 100%" ng-model="statebranch" tabindex="14">
                                                        <option value="AK">Alaska</option>
                                                        <option value="HI">Hawaii</option>
                                                        <option value="CA">California</option>
                                                        <option value="NV">Nevada</option>
                                                        <option value="OR">Oregon</option>
                                                        <option value="WA">Washington</option>
                                                        <option value="AZ">Arizona</option>
                                                        <option value="CO">Colorado</option>
                                                        <option value="ID">Idaho</option>
                                                        <option value="MT">Montana</option>
                                                        <option value="NE">Nebraska</option>
                                                        <option value="NM">New Mexico</option>
                                                        <option value="ND">North Dakota</option>
                                                        <option value="UT">Utah</option>
                                                        <option value="WY">Wyoming</option>
                                                        <option value="AL">Alabama</option>
                                                        <option value="AR">Arkansas</option>
                                                        <option value="IL">Illinois</option>
                                                        <option value="IA">Iowa</option>
                                                        <option value="KS">Kansas</option>
                                                        <option value="KY">Kentucky</option>
                                                        <option value="LA">Louisiana</option>
                                                        <option value="MN">Minnesota</option>
                                                        <option value="MS">Mississippi</option>
                                                        <option value="MO">Missouri</option>
                                                        <option value="OK">Oklahoma</option>
                                                        <option value="SD">South Dakota</option>
                                                        <option value="TX">Texas</option>
                                                        <option value="TN">Tennessee</option>
                                                        <option value="WI">Wisconsin</option>
                                                        <option value="CT">Connecticut</option>
                                                        <option value="DE">Delaware</option>
                                                        <option value="FL">Florida</option>
                                                        <option value="GA">Georgia</option>
                                                        <option value="IN">Indiana</option>
                                                        <option value="ME">Maine</option>
                                                        <option value="MD">Maryland</option>
                                                        <option value="MA">Massachusetts</option>
                                                        <option value="MI">Michigan</option>
                                                        <option value="NH">New Hampshire</option>
                                                        <option value="NJ">New Jersey</option>
                                                        <option value="NY">New York</option>
                                                        <option value="NC">North Carolina</option>
                                                        <option value="OH">Ohio</option>
                                                        <option value="PA">Pennsylvania</option>
                                                        <option value="RI">Rhode Island</option>
                                                        <option value="SC">South Carolina</option>
                                                        <option value="VT">Vermont</option>
                                                        <option value="VA">Virginia</option>
                                                        <option value="WV">West Virginia</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-2 control-label">Zip Code</label>
                                                <div class="col-sm-10">
                                                    <input type="text" class="form-control" ng-model="zipcodebranch" tabindex="15">
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="panel-heading">
                                        Shipping Info.
                                    </div>
                                    <div class="panel-body" style="border-top: 1px solid #e4e5e7;">
                                        <form method="get" class="form-horizontal">
                                            <div class="form-group">
                                                <label class="col-sm-2 control-label">Courier</label>
                                                <div class="col-sm-10">
                                                    <select class="form-control m-b" name="account" ng-model="courier" tabindex="22">
                                                        <option>FedEx</option>
                                                        <option>UPS</option>
                                                        <option>Ontrac</option>
                                                        <option>GSO</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-2 control-label">Account Number</label>
                                                <div class="col-sm-10">
                                                    <input type="text" class="form-control" ng-model="accountnumber" tabindex="23">
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </th>
                            <th style="width: 50%;vertical-align: top;">
                                <div class="hpanel">
                                    <div class="checkbox">
                                        <label class="">
                                            <!--<div class="icheckbox_square-green" style="position: relative;">
                                                <ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);">
                                                </ins>
                                            </div>-->
                                            <input type="checkbox" ng-model="confirmed" ng-change="copyaddress()">
                                            Same as branch address
                                        </label>

                                    </div>
                                    <div class="panel-heading">
                                        Shipping Address
                                    </div>
                                    <div class="panel-body" style="border-top: 1px solid #e4e5e7;">
                                        <form method="get" class="form-horizontal">
                                            <div class="form-group">
                                                <label class="col-sm-2 control-label">Company</label>
                                                <div class="col-sm-10">
                                                    <input type="text" class="form-control" ng-model="companyshipping" tabindex="16">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-2 control-label">Street</label>
                                                <div class="col-sm-10">
                                                    <input type="text" class="form-control" ng-model="streetshipping" tabindex="17">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-2 control-label">City</label>
                                                <div class="col-sm-10">
                                                    <input type="text" class="form-control" ng-model="cityshipping" tabindex="18">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-2 control-label">State</label>
                                                <div class="col-sm-10">
                                                    <select class="js-source-states1" style="width: 100%" ng-model="stateshipping" tabindex="19">
                                                        <option value="AK">Alaska</option>
                                                        <option value="HI">Hawaii</option>
                                                        <option value="CA">California</option>
                                                        <option value="NV">Nevada</option>
                                                        <option value="OR">Oregon</option>
                                                        <option value="WA">Washington</option>
                                                        <option value="AZ">Arizona</option>
                                                        <option value="CO">Colorado</option>
                                                        <option value="ID">Idaho</option>
                                                        <option value="MT">Montana</option>
                                                        <option value="NE">Nebraska</option>
                                                        <option value="NM">New Mexico</option>
                                                        <option value="ND">North Dakota</option>
                                                        <option value="UT">Utah</option>
                                                        <option value="WY">Wyoming</option>
                                                        <option value="AL">Alabama</option>
                                                        <option value="AR">Arkansas</option>
                                                        <option value="IL">Illinois</option>
                                                        <option value="IA">Iowa</option>
                                                        <option value="KS">Kansas</option>
                                                        <option value="KY">Kentucky</option>
                                                        <option value="LA">Louisiana</option>
                                                        <option value="MN">Minnesota</option>
                                                        <option value="MS">Mississippi</option>
                                                        <option value="MO">Missouri</option>
                                                        <option value="OK">Oklahoma</option>
                                                        <option value="SD">South Dakota</option>
                                                        <option value="TX">Texas</option>
                                                        <option value="TN">Tennessee</option>
                                                        <option value="WI">Wisconsin</option>
                                                        <option value="CT">Connecticut</option>
                                                        <option value="DE">Delaware</option>
                                                        <option value="FL">Florida</option>
                                                        <option value="GA">Georgia</option>
                                                        <option value="IN">Indiana</option>
                                                        <option value="ME">Maine</option>
                                                        <option value="MD">Maryland</option>
                                                        <option value="MA">Massachusetts</option>
                                                        <option value="MI">Michigan</option>
                                                        <option value="NH">New Hampshire</option>
                                                        <option value="NJ">New Jersey</option>
                                                        <option value="NY">New York</option>
                                                        <option value="NC">North Carolina</option>
                                                        <option value="OH">Ohio</option>
                                                        <option value="PA">Pennsylvania</option>
                                                        <option value="RI">Rhode Island</option>
                                                        <option value="SC">South Carolina</option>
                                                        <option value="VT">Vermont</option>
                                                        <option value="VA">Virginia</option>
                                                        <option value="WV">West Virginia</option>
                                                    </select>

                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-2 control-label">Zip Code</label>
                                                <div class="col-sm-10">
                                                    <input type="text" class="form-control" ng-model="zipcodeshipping" tabindex="20">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-2 control-label">Attention</label>
                                                <div class="col-sm-10">
                                                    <input type="text" class="form-control" ng-model="attention" tabindex="21">
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </th>
                        </tr>
                    </table>


                </div>
            </div>
            <div id="tab-2" class="tab-pane" ng-class='{"active":tog==2}'>
                <div class="panel-body">
                    <table id="example3" class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Fee Code</th>
                                <th>Fee Description</th>
                                <th>Amount</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="tableData in pricingsData">
                                <td width="20%">
                                    <div ng-hide="editingData[tableData.id]">{{tableData.FeeCode | uppercase}}</div>
                                    <div ng-show="editingData[tableData.id]">{{tableData.FeeCode | uppercase}}</div>
                                </td>
                                <td width="50%">
                                    <div ng-hide="editingData[tableData.id]">{{tableData.FeeDescription}}</div>
                                    <div ng-show="editingData[tableData.id]">{{tableData.FeeDescription}}</div>
                                </td>
                                <td width="15%">
                                    <div ng-hide="editingData[tableData.id]">${{tableData.Amount}}</div>
                                    <div ng-show="editingData[tableData.id]"><input type="text" class="form-control" style="width: 80px;height:24px" ng-model="tableData.Amount" /></div>
                                </td>
                                <td width="15%">
                                    <button ng-hide="editingData[tableData.id]" ng-click="modify(tableData)">Edit</button>
                                    <button ng-show="editingData[tableData.id]" ng-click="update(tableData)">Update</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <!--<label style="text-align: right" class="col-sm-2 control-label">Fee Description:</label>{{feeDescription}}
                    <br />
                    <input type="text" style="width: 100px" class="form-control" ng-value="feeAmount">-->
                </div>
            </div>
            <div id="tab-3" class="tab-pane" ng-class='{"active":tog==3}'>
                <div class="panel-body">
                    <label class="control-label">Internal Notes</label>
                    <br />
                    <textarea style="width: 100%; height: 100px; resize: none;" class="form-control" ng-model="internalnotes"></textarea>
                    <label class="control-label">Signing Intructions</label>
                    <br />
                    <textarea style="width: 100%; height: 100px; resize: none;" class="form-control" ng-model="signinginstructions"></textarea>
                    These instructions will show up as an additional email to the assigned notary. you will only wants to add documents or files that are required on all orders. Please note you will be able to add additional attchments when entering in a new order.
                    <br />
                    <br />
                    <label>Attach additional instruction or documents (We recommend PDF files)</label>
                    <br />
                    <table>
                        <tr>
                            <th>
                                <div class="form-group">
                                    <label class="col-sm-1 control-label">Add</label>
                                    <div class="custim-col-sm-8">
                                        <input style="display: inline-block" type="text" class="custom-form-control">
                                    </div>
                                    <button style="display: inline-block" class="btn btn-primary">Choose File</button>
                                </div>
                            </th>
                            <th>
                                <div class="form-group">
                                    <label class="col-sm-1 control-label">Add</label>
                                    <div class="custim-col-sm-8">
                                        <input style="display: inline-block" type="text" class="custom-form-control">
                                    </div>
                                    <button style="display: inline-block" class="btn btn-primary">Choose File</button>
                                </div>
                            </th>
                            <th>
                                <div class="form-group">
                                    <label class="col-sm-1 control-label">Add</label>
                                    <div class="custim-col-sm-8">
                                        <input style="display: inline-block" type="text" class="custom-form-control">
                                    </div>
                                    <button style="display: inline-block" class="btn btn-primary">Choose File</button>
                                </div>
                            </th>
                        </tr>
                        <tr>
                            <th>
                                <div class="form-group">
                                    <label class="col-sm-1 control-label">Add</label>
                                    <div class="custim-col-sm-8">
                                        <input style="display: inline-block" type="text" class="custom-form-control">
                                    </div>
                                    <button style="display: inline-block" class="btn btn-primary">Choose File</button>
                                </div>
                            </th>
                            <th>
                                <div class="form-group">
                                    <label class="col-sm-1 control-label">Add</label>
                                    <div class="custim-col-sm-8">
                                        <input style="display: inline-block" type="text" class="custom-form-control">
                                    </div>
                                    <button style="display: inline-block" class="btn btn-primary">Choose File</button>
                                </div>
                            </th>
                            <th>
                                <div class="form-group">
                                    <label class="col-sm-1 control-label">Add</label>
                                    <div class="custim-col-sm-8">
                                        <input style="display: inline-block" type="text" class="custom-form-control">
                                    </div>
                                    <button style="display: inline-block" class="btn btn-primary">Choose File</button>
                                </div>
                            </th>
                        </tr>

                    </table>
                </div>
            </div>
            <div id="tab-4" class="tab-pane" ng-class='{"active":tog==4}'>
                <div class="panel-body">
                    <table id="example4" class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Order #</th>
                                <th>Escrow #</th>
                                <th>Borrower Name</th>
                                <th>Signing Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>SO1052588</td>
                                <td>52558LH</td>
                                <td>Leary, Dennis</td>
                                <td>11/12/2012</td>
                            </tr>
                            <tr>
                                <td>SO1052567</td>
                                <td>52589</td>
                                <td>Schaatsky, Marybeth</td>
                                <td>11/03/2012</td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
            <div id="tab-5" class="tab-pane" ng-class='{"active":tog==5}'>
                <div class="panel-body">
                    <div style="text-align: left; margin-left: 0" class="col-sm-8 col-sm-offset-2">
                        <button class="btn btn-primary" type="submit">Add New</button>
                        <button class="btn btn-primary" type="submit">Edit</button>
                        <button class="btn btn-danger" type="submit">Delete</button>
                    </div>
                    <table style="width: 100%">
                        <tr>
                            <th style="width: 30%; vertical-align: top; padding-right: 20px">
                                <div class="hpanel">
                                    <div class="panel-heading">
                                        Assistant(s)
                                    </div>
                                    <div class="panel-body" style="border-top: 1px solid #e4e5e7;">
                                        <form method="get" class="form-horizontal">
                                            <div class="form-group">
                                                <label style="text-align: left" class="col-sm-4 control-label">Jane Doe</label>
                                            </div>
                                            <div class="form-group">
                                                <label style="text-align: left" class="col-sm-4 control-label">Jane Smith</label>
                                            </div>
                                            <div class="form-group">
                                                <label style="text-align: left" class="col-sm-4 control-label">Jhon Doe</label>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </th>
                            <th style="width: 70%; vertical-align: top">
                                <div class="hpanel">
                                    <div class="panel-heading">
                                        Assistant Details
                                    </div>
                                    <div class="panel-body" style="border-top: 1px solid #e4e5e7;">
                                        <form method="get" class="form-horizontal">
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">First Name</label>
                                                <div class="col-sm-8">
                                                    <input type="text" class="form-control">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">Last Name</label>
                                                <div class="col-sm-8">
                                                    <input type="text" class="form-control">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">Direct #</label>
                                                <div class="col-sm-8">
                                                    <input type="text" class="form-control">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">Ext</label>
                                                <div class="col-sm-8">
                                                    <input type="text" class="form-control">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">Mobile #</label>
                                                <div class="col-sm-8">
                                                    <input type="text" class="form-control">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">Email</label>
                                                <div class="col-sm-8">
                                                    <input type="text" class="form-control">
                                                </div>
                                            </div>
                                            <div class="checkbox">
                                                <label class="">
                                                    <div class="icheckbox_square-green" style="position: relative;">
                                                        <input type="checkbox" class="i-checks" style="position: absolute; opacity: 0;">
                                                        <ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);">

                                                        </ins>
                                                    </div>
                                                    Email Confirmation and Status to Assistant
                                                </label>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </th>
                        </tr>
                    </table>
                </div>
            </div>
            <div id="tab-6" class="tab-pane" ng-class='{"active":tog==6}'>
                <div class="panel-body">
                    <div style="text-align: left; margin-left: 0" class="col-sm-8 col-sm-offset-2">
                        <button class="btn btn-primary" type="submit">Add New</button>
                        <button class="btn btn-primary" type="submit">Edit</button>
                        <button class="btn btn-danger" type="submit">Delete</button>
                    </div>
                    <table style="width: 100%">
                        <tr>
                            <th style="width: 30%; vertical-align: top; padding-right: 20px">
                                <div class="hpanel">
                                    <div class="panel-heading">
                                        Loan Offer(s)
                                    </div>
                                    <div class="panel-body" style="border-top: 1px solid #e4e5e7;">
                                        <form method="get" class="form-horizontal">
                                            <div class="form-group">
                                                <label style="text-align: left" class="col-sm-4 control-label">Jane Doe</label>
                                            </div>
                                            <div class="form-group">
                                                <label style="text-align: left" class="col-sm-4 control-label">Jane Smith</label>
                                            </div>
                                            <div class="form-group">
                                                <label style="text-align: left" class="col-sm-4 control-label">Jhon Doe</label>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </th>
                            <th style="width: 70%; vertical-align: top">
                                <div class="hpanel">
                                    <div class="panel-heading">
                                        Loan Officer Details
                                    </div>
                                    <div class="panel-body" style="border-top: 1px solid #e4e5e7;">
                                        <form method="get" class="form-horizontal">
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">Company Name</label>
                                                <div class="col-sm-8">
                                                    <input type="text" class="form-control">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">First Name</label>
                                                <div class="col-sm-8">
                                                    <input type="text" class="form-control">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">Last Name</label>
                                                <div class="col-sm-8">
                                                    <input type="text" class="form-control">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">Direct #</label>
                                                <div class="col-sm-8">
                                                    <input type="text" class="form-control">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">Ext</label>
                                                <div class="col-sm-8">
                                                    <input type="text" class="form-control">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">Mobile #</label>
                                                <div class="col-sm-8">
                                                    <input type="text" class="form-control">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">Email</label>
                                                <div class="col-sm-8">
                                                    <input type="text" class="form-control">
                                                </div>
                                            </div>
                                            <div class="checkbox">
                                                <label class="">
                                                    <div class="icheckbox_square-green" style="position: relative;">
                                                        <input type="checkbox" class="i-checks" style="position: absolute; opacity: 0;">
                                                        <ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);">

                                                        </ins>
                                                    </div>
                                                    Email order Confirmation to Assigned Loan Officer
                                                </label>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </th>
                        </tr>
                    </table>
                </div>
            </div>
        </div>


    </div>
</div>