﻿<div id="header" style="  background-color: #f7f9fa;">
    <div class="color-line">
    </div>
    <a href="/#landingPage">
        <div id="logo" class="light-version">
            <span>
                Escrow
            </span>
        </div>
    </a>
    
</div>

<!-- Navigation -->
<!--<aside id="menu">
    <div id="navigation">
        <div class="profile-picture">
            <a>
                <img src="/assets/customTheme/images/profile.jpg" class="img-circle m-b" alt="logo">
            </a>

            <div class="stats-label text-color">
                <span class="font-extra-bold font-uppercase">Robert Razer</span>
                <div>
                    <small class="text-muted">Some information about the user logged</small>
                </div>
            </div>
        </div>

        <ul class="nav" id="side-menu">
            <li class="active">
                <a href="/#/escrow"> <span class="nav-label">Client</span></a>
            </li>
            <li>
                <a href="analytics.html"> <span class="nav-label">Fee</span></a>
            </li>
            <li>
                <a href="analytics.html"> <span class="nav-label">Assistant</span></a>
            </li>
            <li>
                <a href="analytics.html"> <span class="nav-label">Loan Officer</span></a>
            </li>
        </ul>
    </div>
</aside>-->

<!-- Main Wrapper -->
<div id="wrapper" style="position: fixed; width: 100%; height: 10%; overflow: auto; margin: 0">

    <div class="normalheader" style="padding: 10px 10px 0 10px">
        <div class="hpanel">
            <div class="panel-body">
                <h2 class="font-light m-b-xs">
                    Client Module
                </h2>
            </div>
        </div>
    </div>
    <nav class="navbar navbar-default" style="margin: 0 10px 0 10px">
        <div class="container" style="  margin-left: 0; padding-left: 0;">
            <div class="navbar-header">
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-left">
                        <li class="active"><a class="page-scroll" href="/#/escrow">Client List</a></li>
                        <li><a class="page-scroll" page-scroll href="/#/escrowNewClient">New Client</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <div class="hpanel" style="margin: 0 10px 100px 10px">
        <div class="panel-body">
            <table id="example2" class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th>clientId</th>
                        <th>Title</th>
                        <th>FirstName</th>
                        <th>LastName</th>
                        <th>Office</th>
                        <th>Email</th>
                        <th>Service Agreement</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="client in clients">
                        <td>{{ client.clientId }}</td>
                        <td>{{ client.title }}</td>
                        <td>{{ client.firstName }}</td>
                        <td>{{ client.lastName }}</td>
                        <td>{{ client.office }}</td>
                        <td>{{ client.email }}</td>
                        <td>{{ client.serviceAgreementName }}</td>
                        <td><button class="btn btn-primary">Edit</button></td>
                        <td><button class="btn btn-danger" ng-click="deleteClient(client)">Delete</button></td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>

</div>