﻿
 <span style="font-size: xx-large"> <strong ng-hide="fileName2">This file was shared with you</strong> <strong ng-show="fileName2">These files were shared with you</strong></span>
<div>
    <p>The password to access the files was sent via text to your mobile phone.</p>
    <p>To access the password click the Forgot Password button below and the password will be resent via text to your mobile phone.</p>
</div>
            <div ng-show="fileName1">
                <br/>
                <span style="font-size: x-large"> <strong>File:</strong> {{fileName1}}</span>
                <br/>
                <button class="btn btn-primary" ng-click="file1Click()" data-toggle="modal" data-target="#myModal">Download</button>
                <br/>
            </div>
            <div ng-show="fileName2">
                <br/>
                <span style="font-size: x-large"> <strong>File:</strong> {{fileName2}}</span>
                <br/>
                <button class="btn btn-primary" ng-click="file2Click()" data-toggle="modal" data-target="#myModal">Download</button>
                <br/>
            </div>
            <div ng-show="fileName3">
                <br/>
                <span style="font-size: x-large"> <strong>File:</strong> {{fileName3}} </span>
                <br/>
                <button class="btn btn-primary" ng-click="file3Click()" data-toggle="modal" data-target="#myModal">Download</button>
                <br/>
            </div>
            <div ng-show="fileName4">
                <br/>
                <span style="font-size: x-large"> <strong>File:</strong> {{fileName4}} </span>
                <br/>
                <button class="btn btn-primary" ng-click="file4Click()" data-toggle="modal" data-target="#myModal">Download</button>
                <br/>
            </div>
            <div ng-show="fileName5">
                <br/>
                <span style="font-size: x-large"> <strong>File:</strong> {{fileName5}}</span>
                <br/>
                <button class="btn btn-primary" ng-click="file5Click()" data-toggle="modal" data-target="#myModal">Download</button>
                <br/>
            </div>
            <div>
                <br/>
                <span style="font-size: x-large"> <strong>Message</strong></span>
                <br/>
                <textarea disabled id="mymessage" style="padding: 10px; width: 650px; height: 150px; resize: none; background-color: white; color: black" ng-model="message"></textarea>
                <br/>
            </div>
            <div ng-show="recipientId">
                <button class="btn btn-primary" data-toggle="modal" data-target="#myForgotModal">Forgot Password</button>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div style="width: 400px;" class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header" style="padding: 10px; background: gray;">
                            <span style="font-size: x-large"> <strong>Password Protection</strong></span>
                        </div>
                        <div class="modal-body">
                            <span> <strong style="color: black">Password:</strong></span>
                            <input type="text" style="width: 270px; color: black" id="mypassword" ng-model="password"/>
                        </div>
                        <div class="modal-footer" style="text-align: center; padding: 10px; background: gray">
                            <button class="btn btn-success" style="text-align: center" data-dismiss="modal">Validate</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Forgot Modal -->
            <div class="modal fade" id="myForgotModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div style="width: 400px;" class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header" style="padding:10px;background: gray;">
                            <span style="font-size: x-large"> <strong>Password Protection</strong></span>
                        </div>
                        <div class="modal-body">
                            <span> <strong style="color: black">Please enter your mobile phone number and email address to retrieve your password via text to your mobile phone.</strong></span>
                            <br/>
                            <br />
                            <span> <strong style="color: black">Phone Number:</strong></span>
                            <input maxlength="14" ui-us-phone-number type="text" style="width: 200px; color: black" id="phone" ng-model="phoneNumber" />
                            <br/>
                            <br />
                            <span> <strong style="color: black">Email:</strong></span>
                            <input type="text" style="width: 270px; color: black" id="email" ng-model="email"/>
                        </div>
                        <div class="modal-footer" style="text-align: center; padding: 10px; background: gray">
                            <button class="btn btn-success" style="text-align: center" data-dismiss="modal">Retrieve Password</button>
                        </div>
                    </div>
                </div>
            </div>