﻿
            <form name="myForm" ng-hide="allFilesTransfered">
                <span style="font-size: x-large"> <span style="font-weight:bold">Step 1:</span> Choose the file(s) you would like to share (5 files max)</span>
                <br/>
                <input id=fileinput1 type=file ng-show="showfile1" ngf-select="" ng-model="fileData1"
                       style="visibility: hidden; position: absolute; top: 0; left: 0" multiple ngf-min-size='1' ngf-max-size='300000000' 
                       accept="application/msword, application/vnd.ms-excel, text/plain, application/pdf, image/*">
                <div id="info1" style="font-size: large" ng-show="showfile1"><span><span style="font-weight:bold">1)</span> {{fileName1}}</span></div>

                <input id=fileinput2 type=file ng-show="showfile2" ngf-select="" ng-model="fileData2"
                       style="visibility: hidden; position: absolute; top: 0; left: 0" multiple
                       ngf-max-size="'10GB'"
                       accept="application/msword, application/vnd.ms-excel, text/plain, application/pdf, image/*">
                <div id="info2" style="font-size: large" ng-show="showfile2"><span><span style="font-weight:bold">2)</span> {{fileName2}}</span></div>

                <input id=fileinput3 type=file ng-show="showfile3" ngf-select="" ng-model="fileData3"
                       style="visibility: hidden; position: absolute; top: 0; left: 0" multiple
                       ngf-max-size="'10GB'"
                       accept="application/msword, application/vnd.ms-excel, text/plain, application/pdf, image/*">
                <div id="info3" style="font-size: large" ng-show="showfile3"><span><span style="font-weight:bold">3)</span> {{fileName3}}</span></div>

                <input id=fileinput4 type=file ng-show="showfile4" ngf-select="" ng-model="fileData4"
                       style="visibility: hidden; position: absolute; top: 0; left: 0" multiple
                       ngf-max-size="'10GB'"
                       accept="application/msword, application/vnd.ms-excel, text/plain, application/pdf, image/*">
                <div id="info4" style="font-size: large" ng-show="showfile4"><span><span style="font-weight:bold">4)</span> {{fileName4}}</span></div>

                <input id=fileinput5 type=file ng-show="showfile5" ngf-select="" ng-model="fileData5"
                       style="visibility: hidden; position: absolute; top: 0; left: 0" multiple
                       ngf-max-size="'10GB'"
                       accept="application/msword, application/vnd.ms-excel, text/plain, application/pdf, image/*">
                <div id="info5" style="font-size: large" ng-show="showfile5"><span><span style="font-weight:bold">5)</span> {{fileName5}}</span></div>
                
                <button class="btn btn-primary" ng-disabled="maxFiles" ng-click="addFile()">Add <span ng-show="showfile1">more</span> files </button>
                <button class="btn btn-danger" ng-show="showfile1" ng-click="removeFile()">Remove latest file </button>
                <br/>
                <br/>
                <div ng-show="showfile1">
                    <span style="font-size: x-large"> <span style="font-weight:bold">Step 2:</span> Select the way you would like to share your file(s)</span>
                    <br/>
                    <label>
                        <input type="radio" ng-model="share.link" checked ng-value="false">
                        <span style="font-size: large">Share by Secure Email </span>
                    </label>
                    <label>
                        <input type="radio" ng-model="share.link"  ng-value="true">
                        <span style="font-size: large">Share by Secure Link </span>
                    </label>
                </div>
                <div style="top: 10px" ng-hide="share.link">
                    <div ng-show="showfile1">


                        <span style="font-size: large">Sender Email : </span>
                        <input id="sender" style="width: 300px; color: black" ng-model="sender" />
                        <br />
                        <br />
                        <span style="font-size: large">Recipients Emails :</span>
                        <span style="font-size: large; margin-left: 20px;">1) </span>
                        <input id="email1" style="width: 300px; margin-bottom: 10px; color: black" ng-model="email1" />
                        <br>
                        <span style="font-size: large; margin-left: 180px;">2) </span>
                        <input id="email2" style="width: 300px; margin-bottom: 10px; color: black" ng-model="email2" />
                        <br>
                        <span style="font-size: large; margin-left: 180px;">3) </span>
                        <input id="email3" style="width: 300px; margin-bottom: 10px; color: black" ng-model="email3" />
                        <br>
                        <span style="font-size: large; margin-left: 180px;">4) </span>
                        <input id="email4" style="width: 300px; margin-bottom: 10px; color: black" ng-model="email4" />
                        <br>
                        <span style="font-size: large; margin-left: 180px;">5) </span>
                        <input id="email5" style="width: 300px; margin-bottom: 10px; color: black" ng-model="email5" />
                    </div>
                </div>
                <br/>
                <div ng-show="showfile1">
                    <span style="font-size: x-large"> <span style="font-weight: bold">Step 3:</span> Name the File: </span>
                    <br/>
                    <input type="text" style="width: 350px; color: black" id="namethefile" maxlength="50" ng-model="namethefile"/>
                </div>
                <br />
                <div ng-show="showfile1">
                    <span style="font-size: x-large"> <span style="font-weight:bold">Step 4:</span> Add Recipient Mobile #</span>
                    <br>
                    <span style="font-size:large">(This allows recipient to receive password by text)</span>
                    <br/>
                    <input type="text" style="width: 270px; color: black" id="recipientMobile" maxlength="14" ui-us-phone-number ng-model="recipientMobile"/>
                </div>
                <br />
                <div ng-show="showfile1">
                    <span style="font-size: x-large"> <span style="font-weight:bold">Step 5:</span> Add a Message</span>
                    <br/>
                    <textarea maxlength="275" id="mymessage" style="padding: 10px; width: 650px; height: 150px; resize: none;color: black" ng-model="message"></textarea>
                </div>
                <br/>
                <div ng-show="showfile1">
                    <span style="font-size: x-large"> <span style="font-weight:bold">Step 6:</span> Add a Password</span>
                    <br>
                    <span style="font-size:large">(Password is case sensitive)</span>
                    <br/>
                    <input type="text" style="width: 270px;color: black" id="mypassword" ng-model="password"/>
                </div>
                <br/>
                <div ng-show="showfile1">
                    <span style="font-size: x-large"> <span style="font-weight:bold">Step 7:</span> Share your file(s) </span>
                    <span style="font-size: x-large" ng-show="share.link"> through a secure download link</span>
                    <span style="font-size: x-large" ng-hide="share.link"> by secure email</span>
                    <br/>
                    <button class="btn btn-primary" ng-disabled="!myForm.$valid" ng-click="upload()">Share</button>
                </div>

            </form>

            <br>
            <div ng-show="allFilesTransfered">
                <div ng-show="shareLink">
                    <span style="color: #5cb85c; font-size: x-large">Transfer complete!</span>
                    <br/>
                    <span style="font-size: large">Copy your download link</span>
                    <br/>
                    <input disabled style="width: 100%;color: black" ng-value="shareLink"/>
                    <button class="btn btn-danger" ng-click="copy()" clip-copy="shareLink">Copy Link!</button>
                </div>
                <div ng-hide="shareLink">
                    <span style="color: #5cb85c; font-size: x-large">Transfer complete!</span>
                    <br/>
                    <span style="font-size: large">You did it! Expect a confirmation email in your inbox shortly.</span>
                </div>
                <br/>
                <button class="btn btn-primary" ng-click="newTransfer()">Start new transfer</button>
            </div>
